@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Muli", sans-serif;
    background-image: linear-gradient(310deg, #3d363d 10%, #3d363d 40%, #1b0919 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    height: 95vh;
}

input[type='file'] {
    display: none
}

label {
    background-color: transparent;
    border: 2px solid #60288d;
    border-radius: 5px;
    display:inline-block;
    text-align: center;
    color: #60288d;
    font-size: 20px;
    cursor: pointer;
    padding: 7px 20px;
    width: 330px;
}

label i {
    position: relative;
    bottom: 1.7px;
    padding: 5px;
    font-size: 18px;
}

label:hover {
    color: rgb(156, 14, 192);
    border: 2px solid  rgb(156, 14, 192);
    transition: 0.5s ease-in-out;
}

input[type="file"]:focus + .label {
    transform: scale(2);
}

button {
    background-color: transparent;
    border: 2px solid #60288d;
    border-radius: 5px;
    font-size: 20px;
    color: #60288d;
    cursor: pointer;
    width: 330px;
    padding: 6px 20px
}

button:active {
    transform: scale(0.98);
}

button:focus {
    outline: 0;
}


button:hover {
    color: rgb(156, 14, 192);
    border: 2px solid rgb(156, 14, 192);
    transition: color 0.5s ease-in-out, border 0.5s ease-in-out;

}

p {
    font-size: 15px;
    color: rgb(32, 0, 27);
}

img {
    border-radius: 4px;
    height: 75%;
}

.container {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 15px;
    height: 200px;
    width: 330px
}

.animeName {
    background-color: #60288d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin: 8px;
    height: 30px;
    width: 330px
}
