@import url('https://fonts.googleapis.com/css?family=Roboto&display=flex');

body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#message-container .heSent {
    background-color: #376DA6;
    margin-top: 4px;
    min-width: 90px;
    max-width: 200px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    word-break: break-all;
}

#message-container .youSent {
    background-color: #b7dbff;
    margin-top: 5px;
    min-width: 90px;
    max-width: 200px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: end;

    position: relative;
    word-break: break-all;
}

#message-container div {
    background-color: #ccc;
    padding: 5px;
}


#send-container {
    position: fixed;
    bottom: 20px;
}

#send-container input {
    background-color: #ccc;
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
}

#send-container button {
    height: 40px;
    width: 40px;
    outline: none;
    border: none;
    background-color: #376DA6;
    border-radius: 50%;
}

#send-container button i {
    color: #fff;
    position: relative;
    right: 1px;
}