@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

@font-face {
	font-family: whitney-bold;
	src: url('../fonts/whitney-bold.otf');
}

@font-face {
	font-family: whitney-light;
	src: url('../fonts/whitney-medium.otf');
}

html {
	height: 100%;
	width: 100%;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto";
	background-color: #16161a;
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;
    
	flex-wrap: nowrap;
    overflow: hidden;

    margin: 0;
	min-height: 90vh;
}

.container .nameChat {
    /* background-color: #72757e; */
    background-color: #242629;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 3px solid black;

    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin: 0;
    padding: 0; 
}

.container .nameChat h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 2px;
    /* color: #72757e; */
    color: #7f5af0;
    margin: 0px;
}

.container .nameChat button {
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    left: 0px;
    outline: none;
    margin-left: 20px;
    background-color: transparent;
    border: none;
}

.container .nameChat button:active {
    transform: scale(1.03);
}

.container .nameChat button i {
    margin: 0;
    padding: 0;
    font-size: 40px;
    color: #7f5af0;
}

.tableLeft {
    background-color: #242629;
    transition: all 0.3s ease;

    z-index: 2;
    position: fixed;

    left:-500px;
	top: 0;
    
	width: 260px;
    height: 100vh;

	display: flex;
	align-items: center;
	flex-direction: column;
}

.tableLeft h1{
	color: #72757e;
    background-color: #171a1c;

    border-bottom: 2px solid black;
    
	display: flex;
	align-items: center;
    justify-content: center;
    
    padding: 0;
    padding-bottom: 5px;
    font-weight: lighter;
    
	width: 260px;
	height: 50px;
	margin: 0px;
}

.tableLeft i {
	position: relative;
	top: 3.4px;
	right: 5px;
	color: #2cb67d;
	font-size: 15px;
}

.tableLeft button {
    width: 29px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: -14px;
    margin-left: 25px;
}

.tableLeft .credits {
    position: absolute;
    font-family: whitney-light;
    
    border-top: 2px solid black;
    border-right: 2px solid black;
    font-weight: bold;
    font-size: 20px;
    left: 0;
    bottom: 0px;
}


.tableLeft .credits i {
    color: #72757e;    
    position: relative;
    top: 1.4px;
    font-size: 18px;
}


.tableLeft .fas.fa-bars {
    position: relative;
	top: 1px;
    color: #7f5af0;
    margin: 0;
    font-size: 25px;
}

.peoples {
	position: relative;
	left: 5px;
}

.peoples .people i {
	position: relative;
	margin: 0;
	padding: 0;
	right: 15px; 
	top: 19px;
}

.peoples .people p {
	margin: 0;
	font-size: 17px;
	padding: 0;
	color: #7f5af0;
}

.container {
    background-color: rgba(0,0,0,0.3);
	width: 100vw;
    height: 100vh;
	opacity: 1;
}

.container.show {
	opacity: 0.3;
}

.sendMessage form{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.sendMessage form button {
    border: none;
    padding: 18px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    background-color:#242629;
    border: 3px solid black;
}

.sendMessage form button:active {
    transform: scale(1.03);
}

.sendMessage input:active {
    transform: scale(1.01);
}

.sendMessage input {
    border: none;
    padding: 13px;

    width: 100%;
    height: 100%;
    height: 70px;
    outline: none;
    font-size: 20px;
    border-radius: 50px;
    margin-right: 1px;
    background-color:#242629;
    border: 3px solid black;
}

.sendMessage form button i {
    font-size: 30px;
    color: #7f5af0;
}

@media screen and (max-width: 500px) {
    .tableLeft {
        background-color: #242629;
        position: absolute;
        left:-260px;
        transition: all 0.3s ease;
        z-index: 2;
        margin: 0;
        padding: 0;
        border-right: 2px solid black;
        height: 100%;
        width: 260px;
    }

    .container .nameChat {
        /* background-color: #72757e; */
        background-color: #242629;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-bottom: 3px solid black;
    
        top: 0;
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 0; 
    }
    
    .container .nameChat h1 {
        font-size: 20px;
        font-weight: bold;
        margin: 2px;
        /* color: #72757e; */
        color: #7f5af0;
        margin: 0px;
    }
    
    .container .nameChat button {
        margin: 0;
        padding: 0;
        position: absolute;
        left: 0px;
        outline: none;
        margin-left: 20px;
        background-color: transparent;
        border: none;
    }
    
    .container .nameChat button i {
        margin: 0;
        padding: 0;
        font-size: 25px;
        color: #7f5af0;
    }

    .tableLeft .fas.fa-bars {
        position: relative;
        top: 0.5px;
        color: #7f5af0;
        margin: 0;
        font-size: 25px;
    }

    .sendMessage form button {
        border: none;
        padding: 14.7px;
        border-radius: 50%;
        outline: none;
        background-color:#242629;
        border: 3px solid black;
    }
    
    .sendMessage input {
        border: none;
        padding: 13px;
    
        width: 100%;
        height: 100%;
        outline: none;
        font-size: 20px;
        border-radius: 50px;
        margin-right: 1px;
        background-color:#242629;
        border: 3px solid black;
    }

    .sendMessage form button i {
        font-size: 20px;
        color: #7f5af0;
    }
}
